<h1>XCloud Service</h1>
    <h5>{{ serviceName }}</h5>
    <my-tabs [onNewTab]="onTryItOutSelected.asObservable()">
      <div class="row">
        <div class="col-9">
          <my-tab tabTitle="Readme">
            <h3>{{serviceName}}</h3>
            <hr>
            <div *ngIf ="serviceInfo.service.description">
              <h6>Description</h6>
              <p [innerHTML]="serviceInfo.service.description" style="white-space:pre-wrap"></p>
            </div>
            <div *ngIf="serviceInfo.service.help">
              <h6>Help</h6>
              <p [innerHTML]="serviceInfo.service.help" style="white-space:pre-wrap"></p>
            </div>
            <h6>Fee</h6>
            <p>{{serviceInfo.service.fee}} BLOCK</p>
            <div *ngIf="serviceInfo.service.parameters">
              <h6>Parameter Types</h6>
              <p>{{serviceInfo.service.parameters}}</p>
            </div>
            <h6>Fetch Limit</h6>
            <p>{{serviceInfo.service.fetchLimit}}</p>  
            <h6>Client Request Limit</h6> 
            <p>{{serviceInfo.service.requestLimit}}</p>
          </my-tab>
          <my-tab tabTitle="API">
            <div *ngIf ="serviceInfo.service.description">
              <p [innerHTML]="serviceInfo.service.description" style="white-space:pre-wrap"></p>
            </div>
            <div *ngIf="serviceInfo.service.help">
              <p [innerHTML]="serviceInfo.service.help" style="white-space:pre-wrap"></p>
            </div>
            <div *ngIf="serviceInfo.node.type == 'Enterprise'">
              <div class="api">
                <h4>Enterprise</h4>
                <h5>HTTP</h5>
                <div class="http-req">
                  <span class="http-req-verb">
                    POST
                  </span>
                  <span class="http-req-url">
                   http://{{serviceInfo.node.host}}/xrs/{{shortServiceName}}
                  </span>
                </div>
                <blockquote><p>Sample Request</p></blockquote>
                <button
                      class="btn btn-outline-dark copy-code-btn"
                      type="button"
                      ngxClipboard
                      [cbContent]="curlTemplateEnterprise"
                      ngbTooltip="Copied" 
                      triggers="click:blur"
                >
                    Copy
                </button>
                <pre class="sample-request" [innerHTML]="[curlTemplateEnterprise]"></pre>
                <blockquote><p>Sample Response</p></blockquote>
                <button class="btn btn-outline-primary" (click)="onSelectTryItOut()">Try it out!</button>
                <br><br>
                <h4>Own Wallet</h4>
                <h5>HTTP</h5>
                <div class="http-req">
                  <span class="http-req-verb">
                    POST
                  </span>
                  <span class="http-req-url">
                   http://rpcuser:rpcpassword@localhost:41414
                  </span>
                </div>
                <blockquote><p>Sample Request</p></blockquote>
                <button
                      class="btn btn-outline-dark copy-code-btn"
                      type="button"
                      ngxClipboard
                      [cbContent]="curlTemplateWallet"
                      ngbTooltip="Copied" 
                      triggers="click:blur"
                >
                    Copy
                </button>
                <pre class="sample-request" [innerHTML]="[curlTemplateWallet]"></pre>
                <blockquote><p>Sample Response</p></blockquote>
                <button class="btn btn-outline-primary" (click)="onSelectTryItOut()">Try it out!</button>
                <br><br>
                <h5>Blocknet CLI</h5>
                <blockquote><p>Sample Request</p></blockquote>
                <button
                      class="btn btn-outline-dark copy-code-btn"
                      type="button"
                      ngxClipboard
                      [cbContent]="cliTemplate"
                      ngbTooltip="Copied" 
                      triggers="click:blur"
                >
                    Copy
                </button>
                <pre class="sample-request" [innerHTML]="[cliTemplate]"></pre>
                <blockquote><p>Sample Response</p></blockquote>
                <button class="btn btn-outline-primary" (click)="onSelectTryItOut()">Try it out!</button>
              </div>
            </div>

          </my-tab>
          <my-tab tabTitle="{{ servicePayType }}">
            <h3 *ngIf="serviceInfo.service.fee > 0 else free">Purchase the {{ serviceName }} service</h3>
            <ng-template #free>
              <h3>Try out the {{ serviceName }} service</h3>
            </ng-template>
            <hr>
            <div *ngIf="serviceInfo.service.description">
              <h6>Description</h6>
              <p [innerHTML]="serviceInfo.service.description" style="white-space:pre-wrap"></p>
            </div>
            <div *ngIf="serviceInfo.service.help">
              <h6>Help</h6>
              <p [innerHTML]="serviceInfo.service.help" style="white-space:pre-wrap"></p>
            </div>
            <!-- <h6>Fee</h6>
            <p>{{serviceInfo.service.fee}} BLOCK</p> -->
            <div class="row">
              <div class="col-12">
                <h4>Request</h4>
                <form (ngSubmit)="onSubmit()" #serviceForm="ngForm">
                  <div *ngFor="let p of serviceInfo.service.parametersList; let i = index">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="param-{{i}}">Param-{{i + 1}}</label>
                      </div>
                      <input type="text" class="form-control" id="param-{{i}}" [(ngModel)]="parametervalues[i]" name="param-{{i}}" #params="ngModel" required>
                      <div class="input-group-append">
                        <label class="input-group-text" for="paramType-{{i}}">{{p}}</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div *ngIf="params.invalid && (params.dirty || params.touched)" class="alert alert-danger">
                          <div *ngIf="params.errors.required">
                                  Param-{{i + 1}} is required.
                          </div>
                        </div> 
                    </div>
                  </div>
                  <!-- <div class="custom-control custom-checkbox mb-3" *ngIf="serviceInfo.node?.type == 'Enterprise'">
                    <input type="checkbox" class="custom-control-input" name="exrCheck" id="exrCheck" [(ngModel)]="callEXRDirectly">
                    <label class="custom-control-label" for="exrCheck">Call directly to EXR service node</label>
                  </div> -->
                  <button type="submit" class="btn btn-primary" [disabled]="serviceForm.form.invalid">Submit</button>
                </form> 
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h4>Response</h4>
                <button
                    class="btn btn-outline-dark copy-code-btn"
                    type="button"
                    ngxClipboard
                    [cbContent]="serviceCallResult | json"
                    ngbTooltip="Copied" 
                    triggers="click:blur"
                >
                    Copy
                </button>
                <ng-container *ngIf="executing; else elseTemplate">
                  <pre [innerHTML]="'Executing...'"></pre>
                </ng-container>
                <ng-template #elseTemplate>
                  <pre [innerHTML]="serviceCallResult | prettyjson:4"></pre>
              </ng-template>
              </div>
            </div>
            
          </my-tab>
          <my-tab tabTitle="Configuration">
            <h3>Configuration file</h3>
            <hr>
            <h4>{{shortServiceName}}.conf</h4>
            <button
                    class="btn btn-outline-dark copy-code-btn"
                    type="button"
                    ngxClipboard
                    [cbContent]="serviceInfo.service.config"
                    ngbTooltip="Copied" 
                    triggers="click:blur"
                >
                    Copy
                </button>
            <pre [innerHTML]="serviceInfo.service.config"></pre>
          </my-tab>
        </div>
        <div class="col-3">
          <app-snode-info-block [snodeInfo]="serviceInfo.node"></app-snode-info-block>
        </div>
      </div>
      
    </my-tabs>
    <hr>
    <!-- <comments 
      [nodePubKey]="serviceInfo.node.nodePubKey"
      [serviceName]="serviceName"
    ></comments> -->