td.snode{
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

ngb-pagination ::ng-deep ul {
    margin-bottom: 0;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.table-overflow{
    overflow-y: auto;
    max-height: 700px;
}