<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Pay for {{ serviceName }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="onCloseModal('cancel')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <aw-wizard #wizard 
      [navBarLayout]="'large-empty-symbols'"
      [disableNavigationBar]="true"
  >
    <aw-wizard-step [stepTitle]="'Instructions'" [navigationSymbol]="{ symbol: '1' }">
      <div class="jumbotron">
        <div class="container">
          <ul>
            <li>Please verify your payment matches the amount due in crypto <strong>exactly</strong></li>
            <li>If the payment is insufficient, the <strong>remaining</strong> amount is shown</li>
            <li>If too much is paid, the remaining amount will be <strong>send back</strong></li>
            <li>If payments are received after time slot has elapsed, it will be <strong>send back</strong></li>
            <li>A 1% fee is taken into account in order to pay for transaction fees and commission for the service.</li>
          </ul>
        </div>
      </div>
      
      <div class="centered-content">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" awNextStep>Continue</button>
        </div>
      </div>  
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Coins'" [navigationSymbol]="{ symbol: '2' }">
      <div class="centered-content">
        <div class="centered-content">
          <div class="list-group" style="overflow-y: auto;max-height: 700px;">
          <button type="button" class="list-group-item list-group-item-action" *ngFor="let c of coins" (click)="onSelectCoin(c)">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{c.name}}</h5>
              </div>
              <small>1 {{c.ticker}}  = {{c.price}} BLOCK</small>
            </button>
          </div>
          <div class="text-center py-3">
            <p>Powered by</p>
            <img src="../../../assets/cclogo.png" width="25" alt="">
            <span class="mb-0 ml-1">
              <a href="https://cloudchainsinc.com">CloudChains, inc.</a>
            </span>
          </div>
        </div>
      </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Payment'" [navigationSymbol]="{ symbol: '3' }" (stepEnter)="enterPaymentStep($event)">
      <div class="centered-content">
        <qrcode 
          [qrdata]="qrdata" 
          [width]="256" 
          [elementType]="'canvas'" 
          [errorCorrectionLevel]="'M'" 
          [version]="4">
        </qrcode>
        <div class="highlight-invoice">
          <p>Coin: <strong>{{selectedCoin?.name}}</strong></p>
          <p>Address: <strong>{{address}}</strong></p>
          <p>Amount due: <strong>{{ amountDue }} {{selectedCoin?.ticker}}</strong></p>
          
          <p>Time Remaining: <strong><countdown #cd [config]="cdConfig" (event)="handleCountDownEvent($event)"></countdown></strong></p>
        </div>
        <div *ngIf="receivedTransactions.length > 0">
          <h5>Received Transactions</h5>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Transaction Id</th>
                <th>Amount</th>
                <th>Confirmations</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let rt of receivedTransactions">
                <td class="ellipsis">{{ rt.txid }}</td>
                <td>{{ rt.amount }}</td>
                <td>{{ rt.confirmations }} / 2</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr>
        <button type="button" class="btn btn-danger" (click)="onCloseModal('cancel')">Cancel Payment</button>
        
      </div>
    </aw-wizard-step>
    <aw-wizard-completion-step [stepTitle]="'Completion'" [navigationSymbol]="{ symbol: '4'}"> 
      <div class="centered-content">  
        <div *ngIf="timeElapsed; else not_elapsed">
          <div class="alert alert-info" role="alert" >
            Payment not received in time!
          </div>
          <!--TODO: Automatically send back funds that are received after time has elapsed-->
          <!--TODO: Show this in a table and state of transaction-->
          <button type="button" class="btn btn-primary" (click)="onCloseModal('cancel')">Close</button>
        </div>
        <ng-template #not_elapsed>
          <div class="alert alert-info" role="alert" *ngIf="areThereUnconfirmedUtxos()">
            Waiting for transaction to be confirmed...
          </div>

          <div class="alert alert-warning" role="alert" *ngIf="amountDue < 0">
            Too much paid! {{-1*amountDue}} {{selectedCoin?.ticker}} will be send back to you after all transactions have been confirmed.
          </div>

          <div class="alert alert-success" role="alert" *ngIf="overPaymentSendBack">
            {{-1*amountDue}} {{selectedCoin?.ticker}} has been sent back!
          </div>

          <h5>Received Transactions</h5>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Transaction Id</th>
                <th>Amount</th>
                <th>Confirmations</th>
                <th>State</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let rt of receivedTransactions">
                <td class="ellipsis">{{ rt.txId }}</td>
                <td>{{ rt.amount }}</td>
                <td>{{ rt.confirmations }} / 2</td>
                <td *ngIf="rt.confirmations < 2">Received</td>
                <td *ngIf="rt.confirmations >= 2">Confirmed</td>
              </tr>
            </tbody>
          </table>

          <div class="alert alert-success" role="alert" *ngIf="areAllUtxosConfirmed()">
            Payment succesfully completed!
          </div>

          <hr>
          <button [disabled]="!areAllUtxosConfirmed()" type="button" class="btn btn-success" (click)="onCloseModal('paid')">Execute Service</button>
          
          <!--TODO: Show this in a table and state of transaction-->
        </ng-template>
      </div>
    </aw-wizard-completion-step>
  </aw-wizard>
</div>
