
  <h1>SPV Wallet</h1>
  <h5>{{ spvWalletName }}</h5>
  <my-tabs [onNewTab]="onCommandSelectedSubject.asObservable()">
    <div class="row">
      <div class="col-9">
        <my-tab tabTitle="Readme">
          <h3>{{ spvWalletName }}</h3>
          <hr>
          <h4>Commands</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                        <tr>
                            <th>Command</th>
                            <th>Fee (BLOCK)</th>
                            <th>Request Limit</th>
                            <!-- <th>Payment Address</th> -->
                            <th>Try it out</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of spvWalletInfo?.spvConfig?.commands">
                            <td class="ellipsis">{{c.command}}</td>
                            <td>{{c.fee}}</td>
                            <td>{{c.requestLimit}}</td>
                            <!-- <td class="ellipsis">{{c.paymentAddress}}</td> -->
                            <td>  
                              <button class="btn btn-outline-primary" (click)="onSelectTryItOut(c.command)">Try me!</button>
                            </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
        </my-tab>
        <my-tab tabTitle="Try it out">
          <h3>Try out a {{ spvWalletName }} command</h3>
            <hr>
            <div class="row">
              <div class="col-12">
                <h4>Request</h4>
                <form (ngSubmit)="onSubmit()" #spvCallForm="ngForm">
                  <label for="spvCommand">Spv Command</label>
                  <select class="form-control" [(ngModel)]="selectedSpvCommand" name="selectedSpvCommand">
                      <option *ngFor="let c of spvWalletInfo?.spvConfig?.commands" [value]="c.command">{{c.command}}</option>
                  </select>
                  <div [ngSwitch]="selectedSpvCommand">
                    <div *ngSwitchCase="'xrGetBlockCount'">
                    </div>
                    <div *ngSwitchCase="'xrGetBlockHash'">
                      <div class="form-group">
                        <label for="blockNumber">Block Number</label>
                        <input type="text" class="form-control" id="blockNumber" ngModel name="blockNumber" #blockNumber="ngModel" required>
                      </div>
                        <div class="form-group">
                          <div *ngIf="blockNumber.invalid && (blockNumber.dirty || blockNumber.touched)"
                                  class="alert alert-danger">
                                  <div *ngIf="blockNumber.errors.required">
                                          Block Number is required.
                                  </div>
                          </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'xrGetBlock'">
                      <div class="form-group">
                        <label for="blockHash">Block Hash</label>
                        <input type="text" class="form-control" id="blockHash" ngModel name="blockHash" #blockHash="ngModel" required>
                      </div>
                        <div class="form-group">
                          <div *ngIf="blockHash.invalid && (blockHash.dirty || blockHash.touched)"
                                  class="alert alert-danger">
                                  <div *ngIf="blockHash.errors.required">
                                          Block Hash is required.
                                  </div>
                          </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'xrGetBlocks'">
                      <h4>Block hash inputs</h4>
                      <button type="button" (click)="addBlockHash()" class="btn btn-primary btn-sm">Add</button> 
                      <hr>
                      <div *ngFor="let bh of blockHashes; let i = index;trackBy:trackByFn">
                        <div class="form-group">
                          <label for="blockHash-{{i}}">Blockhash-{{i}}</label>
                          <input type="text" class="form-control" id="blockHash-{{i}}" [(ngModel)]="blockHashes[i]" name="blockHash-{{i}}" required>
                        </div>
                        <div class="form-group">
                          <div *ngIf="blockHashes.invalid && (blockHashes.dirty || blockHashes.touched)"
                                  class="alert alert-danger">
                                  <div *ngIf="blockHashes.errors.required">
                                          Block Hash is required.
                                  </div>
                          </div>
                        </div>
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeBlockHash(i)">Remove</button>
                      </div>
                      <hr>
                    </div>
                    <div *ngSwitchCase="'xrGetTransaction'">
                      <div class="form-group">
                        <label for="txid">Txid</label>
                        <input type="text" class="form-control" id="txid" ngModel name="txid" #txid="ngModel" required>
                      </div>
                      <div class="form-group">
                        <div *ngIf="txid.invalid && (txid.dirty || txid.touched)"
                                class="alert alert-danger">
                                <div *ngIf="txid.errors.required">
                                        TxId is required.
                                </div>
                        </div>
                      </div>
                    </div>
                    <div *ngSwitchCase="'xrGetTransactions'">
                      <h4>TxId inputs</h4>
                      <button type="button" (click)="addTxId()" class="btn btn-primary btn-sm">Add</button> 
                      <hr>
                        <div *ngFor="let txid of txIds; let i = index;trackBy:trackByFn">
                          <div class="form-group">
                            <label for="txid-{{i}}">txid-{{i}}</label>
                            <input type="text" class="form-control" id="txid-{{i}}" [(ngModel)]="txIds[i]" name="txid-{{i}}" #txids="ngModel" required>
                          </div>
                          <div class="form-group">
                            <div *ngIf="txids.invalid && (txids.dirty || txids.touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="txids.errors.required">
                                            TxId is required.
                                    </div>
                            </div>
                          </div>
                          <button type="button" class="btn btn-danger btn-sm" (click)="removeTxId(i)">Remove</button>
                        </div>
                      <hr>
                    </div>
                    <div *ngSwitchCase="'xrDecodeRawTransaction'">
                      <div class="form-group">
                        <label for="txHex">Tx Hex</label>
                        <input type="text" class="form-control" id="txHex" ngModel name="txHex" #txHex="ngModel" required>
                      </div>
                      <div class="form-group">
                        <div *ngIf="txHex.invalid && (txHex.dirty || txHex.touched)"
                                class="alert alert-danger">
                                <div *ngIf="txHex.errors.required">
                                        Tx Hex is required.
                                </div>
                        </div>
                      </div>
                    </div>
                    <div *ngSwitchCase="'xrSendTransaction'">
                      <div class="form-group">
                        <label for="signedTx">Signed Tx</label>
                        <input type="text" class="form-control" id="signedTx" ngModel name="signedTx" #signedTx="ngModel" required>
                      </div>
                      <div class="form-group">
                        <div *ngIf="signedTx.invalid && (signedTx.dirty || signedTx.touched)"
                                class="alert alert-danger">
                                <div *ngIf="signedTx.errors.required">
                                        Signed Tx is required.
                                </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <div *ngIf="spvWalletInfo?.node?.type != 'Enterprise'">
                    <div class="form-group">
                      <label for="nodeCount">Node count</label>
                      <input type="number" class="form-control" id="nodeCount"  [(ngModel)]="nodeCount" name="nodeCount" [customMin]="minNodeCount" #nodecount="ngModel" required>
                    </div>
                    <div class="form-group">
                      <div *ngIf="nodecount.errors?.customMin" class="alert alert-danger"> 
                        Minimum node count is {{minNodeCount}}.
                      </div>   
                    </div>
                  </div>
                  <button type="submit" class="btn btn-outline-primary" [disabled]="spvCallForm.form.invalid">Submit</button>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h4>Response</h4>
                <pre>
                  <code>
                    <div *ngIf="executing else executed">
                      Executing...
                    </div>
                  <ng-template #executed> 
                    {{ spvWalletCommandResult }}
                  </ng-template>
                  </code>                    
                </pre>

              </div>
            </div>
        </my-tab>
        <my-tab tabTitle="Offered by other nodes">
          <h3>Other Service Nodes that offer {{shortSpvWalletName}} SPV</h3>
          <hr>
          <div *ngIf="spvWalletInfo?.otherNodes?.length == 0 else notEmpty">
            There are no other service nodes supporting {{shortSpvWalletName}} SPV.
          </div>
          
          <ng-template #notEmpty>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Snode Key</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of spvWalletInfo?.otherNodes">
                    <td class="ellipsis"><a [routerLink]="['/spv-wallets', spvWalletName, s.nodePubKey]">{{s.nodePubKey}}</a></td>
                    <td>{{s.type}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </my-tab>
      </div>
      <div class="col-3">
        <div class="pane">
          <h3>Service Node</h3>
          <hr>
          <h4 class="black-50 f5">Snode Key</h4>
          <p>
            <a class="truncate fw6" [routerLink]="['/xrouter-snodes', spvWalletInfo?.node.nodePubKey]">{{spvWalletInfo?.node.nodePubKey}}</a>
          </p>
          <h4 class="black-50 f5">Payment Address</h4>
          <p>
            <a class="truncate fw6" href="https://chainz.cryptoid.info/block/address.dws?{{spvWalletInfo?.node.paymentAddress}}">{{spvWalletInfo?.node.paymentAddress}}</a>
          </p>
          <h4 class="black-50 f5">Type</h4>
          <p class="black-80 fw6"> {{spvWalletInfo?.node.type }}</p>
          <h4 class="black-50 f5">Default Fee</h4>
          <p class="black-80 fw6">{{spvWalletInfo?.node.feeDefault}} BLOCK</p>
        </div>
      </div>
    </div>
  </my-tabs>
  <hr>
  <!-- <comments 
    [nodePubKey]="spvWalletInfo.node.nodePubKey"
    [serviceName]="spvWalletName"
  ></comments> -->