<ng-autocomplete #auto
  [data]="nodeCounts"
  [searchKeyword]="keyword"
  debounceTime = "400"
  placeHolder="Search services and SPV wallets..."
  (selected)='selectEvent($event)'
  (inputChanged)='onChangeSearch($event)'
  (inputFocused)='onFocused($event)'
  [itemTemplate]="itemTemplate"
  [notFoundTemplate]="notFoundTemplate"
  [isLoading]="isLoading"
  (opened)="onOpened($event)"
  >
</ng-autocomplete>
<!-- historyIdentifier="services?.items" -->

<ng-template #itemTemplate let-item>
  <div class="item">
    <span [innerHTML]="item.name"></span> &nbsp; | &nbsp;
    <small>Node count: {{item.nodeCount}}</small>
  </div>
</ng-template>

<ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>