
  <h1>SPV Wallet</h1>
  <h5>{{ spvWalletName }}</h5>
  <my-tabs [onNewTab]="onCommandSelectedSubject.asObservable()">
    <div class="row">
      <div class="col-9">
        <my-tab tabTitle="Readme">
          <h3>{{ spvWalletName }}</h3>
          <hr>
          <h4>Commands</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                        <tr>
                            <th>Command</th>
                            <th>Fee (BLOCK)</th>
                            <th>Request Limit</th>
                            <th>Fetch Limit</th>  
                            <!-- <th>Payment Address</th> -->
                            <th>Try it out</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of spvWalletInfo?.spvConfig?.commands">
                            <td class="ellipsis">{{c.command}}</td>
                            <td>{{c.fee}}</td>
                            <td>{{c.requestLimit}}</td>
                            <td>{{c.fetchLimit}}</td>
                            <!-- <td class="ellipsis">{{c.paymentAddress}}</td> -->
                            <td>  
                              <button class="btn btn-outline-primary" (click)="onSelectTryItOut(c.command)">Try me!</button>
                            </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
        </my-tab>
        <my-tab tabTitle="Try it out">
          <h3>Try out a {{ spvWalletName }} command</h3>
            <hr>
            <div class="row">
              <div class="col-12">
                <h4>Request</h4>
                <form (ngSubmit)="onSubmit()" #spvCallForm="ngForm">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="spvCommand">SPV Command</label>
                    </div>
                    <select class="custom-select" [(ngModel)]="selectedSpvCommand" name="selectedSpvCommand">
                        <option *ngFor="let c of spvWalletInfo?.spvConfig?.commands" [value]="c.command">{{c.command}}</option>
                    </select>
                  </div>                  
                  <div [ngSwitch]="selectedSpvCommand">
                    <div *ngSwitchCase="'xrGetBlockCount'">
                    </div>
                    <div *ngSwitchCase="'xrGetBlockHash'">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="blockNumber">Block Number</label>
                          </div>  
                        <input type="text" class="form-control" id="blockNumber" ngModel name="blockNumber" #blockNumber="ngModel" required>
                        </div>
                        <div class="form-group">
                          <div *ngIf="blockNumber.invalid && (blockNumber.dirty || blockNumber.touched)" class="alert alert-danger">
                            <div *ngIf="blockNumber.errors.required">
                                    Block Number is required.
                            </div>
                          </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'xrGetBlock'">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="blockHash">Block Hash</label>
                        </div>
                        <input type="text" class="form-control" id="blockHash" ngModel name="blockHash" #blockHash="ngModel" required>
                      </div>
                        <div class="form-group">
                          <div *ngIf="blockHash.invalid && (blockHash.dirty || blockHash.touched)"
                                  class="alert alert-danger">
                                  <div *ngIf="blockHash.errors.required">
                                          Block Hash is required.
                                  </div>
                          </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'xrGetBlocks'">
                      <button type="button" (click)="addBlockHash()" class="btn btn-primary btn-sm mb-3">Add Blockhash</button> 
                      <div *ngFor="let bh of blockHashes; let i = index;trackBy:trackByFn">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <label class="input-group-text" for="blockHash-{{i}}">Blockhash-{{i+1}}</label>
                          </div>
                          <input type="text" class="form-control" id="blockHash-{{i}}" [(ngModel)]="blockHashes[i]" name="blockHash-{{i}}" required>
                          <div class="input-group-append">
                            <button type="button" class="btn btn-danger btn-sm" (click)="removeBlockHash(i)">Remove</button>
                          </div>
                        </div>
                        <div class="form-group">
                          <div *ngIf="blockHashes.invalid && (blockHashes.dirty || blockHashes.touched)" class="alert alert-danger">
                              <div *ngIf="blockHashes.errors.required">
                                      Block Hash is required.
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngSwitchCase="'xrGetTransaction'">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="txid">TxId</label>
                        </div>
                        <input type="text" class="form-control" id="txid" ngModel name="txid" #txid="ngModel" required>
                      </div>
                      <div class="form-group">
                        <div *ngIf="txid.invalid && (txid.dirty || txid.touched)"
                                class="alert alert-danger">
                                <div *ngIf="txid.errors.required">
                                        TxId is required.
                                </div>
                        </div>
                      </div>
                    </div>
                    <div *ngSwitchCase="'xrGetTransactions'">
                      <button type="button" (click)="addTxId()" class="btn btn-primary btn-sm mb-3">Add TxId</button> 
                        <div *ngFor="let txid of txIds; let i = index;trackBy:trackByFn">
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="txid-{{i}}">TxId-{{i+1}}</label>
                            </div>
                            <input type="text" class="form-control" id="txid-{{i}}" [(ngModel)]="txIds[i]" name="txid-{{i}}" #txids="ngModel" required>
                            <div class="input-group-append">
                              <button type="button" class="btn btn-danger btn-sm" (click)="removeTxId(i)">Remove</button>
                            </div>
                          </div>
                          <div class="form-group">
                            <div *ngIf="txids.invalid && (txids.dirty || txids.touched)" class="alert alert-danger">
                                <div *ngIf="txids.errors.required">
                                        TxId is required.
                                </div>
                            </div>
                          </div>
                        </div>
                      <hr>
                    </div>
                    <div *ngSwitchCase="'xrDecodeRawTransaction'">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="txHex">Tx Hex</label>
                        </div>
                        <input type="text" class="form-control" id="txHex" ngModel name="txHex" #txHex="ngModel" required>
                      </div>
                      <div class="form-group">
                        <div *ngIf="txHex.invalid && (txHex.dirty || txHex.touched)"
                                class="alert alert-danger">
                                <div *ngIf="txHex.errors.required">
                                        Tx Hex is required.
                                </div>
                        </div>
                      </div>
                    </div>
                    <div *ngSwitchCase="'xrSendTransaction'">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="signedTx">Signed Tx</label> 
                        </div>
                        <input type="text" class="form-control" id="signedTx" ngModel name="signedTx" #signedTx="ngModel" required>
                      </div>
                      <div class="form-group">
                        <div *ngIf="signedTx.invalid && (signedTx.dirty || signedTx.touched)" class="alert alert-danger">
                            <div *ngIf="signedTx.errors.required">
                                    Signed Tx is required.
                            </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="nodeCount">Node count</label>
                    </div>
                    <input type="number" class="form-control" id="nodeCount" [(ngModel)]="nodeCount" name="nodeCount" min="1" [disabled]="callEXRDirectly">
                  </div>
                  <!-- <div class="custom-control custom-checkbox mb-3" *ngIf="spvWalletInfo?.node?.type == 'Enterprise'">
                    <input type="checkbox" class="custom-control-input" name="exrCheck" id="exrCheck" [(ngModel)]="callEXRDirectly">
                    <label class="custom-control-label" for="exrCheck">Call directly to EXR service node</label>
                  </div> -->
                  <button type="submit" class="btn btn-primary" [disabled]="spvCallForm.form.invalid">Submit</button>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h4>Response</h4>
                <pre>
                  <code>
                    <div *ngIf="executing else executed">
                      Executing...
                    </div>
                  <ng-template #executed> 
                    {{ spvWalletCommandResult }}
                  </ng-template>
                  </code>                    
                </pre>

              </div>
            </div>
        </my-tab>
        <!-- <my-tab tabTitle="Offered by other nodes">
          <h3>Other Service Nodes that offer {{shortSpvWalletName}} SPV</h3>
          <div *ngIf="spvWalletInfo?.otherNodes?.length == 0 else notEmpty">
            There are no other service nodes supporting {{shortSpvWalletName}} SPV.
          </div>
          
          <ng-template #notEmpty>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Snode Key</th>
                    <th>Type</th>
                    <th>Score</th>
                    <th>Default Fee</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of spvWalletInfo?.otherNodes">
                    <td class="ellipsis"><a [routerLink]="['/spv-wallets/nodes', spvWalletName, s.nodePubKey]" >{{s.nodePubKey}}</a></td>
                    <td>{{s.type}}</td>
                    <td>{{s.score}}</td>
                    <td>{{s.feeDefault}}</td>
                  </tr>
                </tbody>
              </table>
            </div>     
          </ng-template>
        </my-tab> -->
      </div>
      <div class="col-3">
        <app-snode-info-block [snodeInfo]="spvWalletInfo.node"></app-snode-info-block>
      </div>
    </div>
  </my-tabs>
  <hr>
  <!-- <comments 
    [nodePubKey]="spvWalletInfo.node.nodePubKey"
    [serviceName]="spvWalletName"
  ></comments> -->