<h1>Service Node</h1>
<table class="table">
  <tbody>
    <tr>
      <td>SNode Key	</td>
      <td>{{nodePubKey}} 
        <!-- <span *ngIf="snodeVerified" class="badge badge-secondary" title="This user has verified its ownership of a blocknet service node.">Verified</span> -->
      </td>
    </tr> 
    <tr>
      <td>Payment Address</td>
      <td>
        <a href="https://chainz.cryptoid.info/block/address.dws?{{serviceNodeInfo.paymentAddress}}">
          {{serviceNodeInfo?.paymentAddress}}
      </a>
    </td>
    </tr>
    <tr>
      <td>Type</td>
      <td>{{serviceNodeInfo?.type}}</td>
    </tr>
    <tr>
      <td>XRouter Endpoint</td>
      
      <td *ngIf="serviceNodeInfo.port; else noPort">http://{{ serviceNodeInfo?.host }}:{{serviceNodeInfo?.port}}</td>
      
      <ng-template #noPort> 
        <td>http://{{ serviceNodeInfo?.host }}</td>
      </ng-template>
    </tr>
    <tr>
      <td>Default Fee</td>
      <td>{{serviceNodeInfo?.feeDefault}} BLOCK</td>
    </tr>
  </tbody>
</table>
<ngb-tabset>     
    <ngb-tab title="Configuration">
        <ng-template ngbTabContent>
            <h3>xrouter.conf</h3>
            <pre>
              <code>{{serviceNodeInfo?.config}}</code>
            </pre>
            <!-- <div class="well overflow-visible" style="white-space: pre-line"> -->
            <!-- </div>             -->
        </ng-template>
    </ngb-tab>        
    <ngb-tab title="Spv Wallets">
        <ng-template ngbTabContent>
          <h3>Spv Wallets offered by this Service Node</h3>  
            <table class="table table-striped">
                <tbody>
                  <tr *ngFor="let spvWallet of serviceNodeInfo?.spvWallets">
                    <td><a [routerLink]="['/spv-wallets/nodes', 'xr::' + spvWallet, nodePubKey]">{{spvWallet}}</a></td>
                  </tr>
                </tbody>
            </table>
        </ng-template>
      </ngb-tab>
    <ngb-tab title="XCloud Services">
        <ng-template ngbTabContent>
            <h3>XCloud Services offered by this Service Node</h3>

            <div *ngIf="serviceNodeInfo?.services.length == 0 else notEmpty">
                This service node doesn't offer XCloud Services.
              </div>
              
            <ng-template #notEmpty>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Service</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let service of serviceNodeInfo?.services">
                        <td><a [routerLink]="['/xcloud-services/nodes', 'xrs::' + service, nodePubKey]">{{service}}</a></td>
                      </tr>
                    </tbody>
                </table>
                <!-- <ngb-pagination [collectionSize]="serviceNodes?.totalItems" [pageSize]="query.pageSize" [(page)]="query.page" (pageChange)="pageChange($event)"></ngb-pagination> -->
              </ng-template>  
          </ng-template>            
    </ngb-tab>
    <ngb-tab title="Fees">
      <ng-template ngbTabContent>
          <h3>Fees</h3>
          <table class="table">
            <tbody>
              <tr *ngFor="let fee of serviceNodeInfo.fees | keyvalue">
                <td>{{fee.key}}</td>
                <td>{{fee.value}} BLOCK</td>
              </tr>
            </tbody>
          </table>
      </ng-template>
    </ngb-tab>
</ngb-tabset>


