<div class="pane">
  <h3>Service Node</h3>
  <hr>
  <h4 class="black-50 f5">Snode Key</h4>
  <p>
    <a class="truncate fw6" [routerLink]="['/xrouter-snodes', snodeInfo.nodePubKey]">{{snodeInfo.nodePubKey}}</a>
  </p>
  <!-- <span *ngIf="snodeVerified" class="ml-2 badge badge-secondary" title="This user has verified its ownership of a blocknet service node.">Verified</span> -->
  <h4 class="black-50 f5">Payment Address</h4>
  <p>
    <a class="truncate fw6" href="https://chainz.cryptoid.info/block/address.dws?{{snodeInfo.paymentAddress}}">{{snodeInfo.paymentAddress}}</a>
  </p>
  <h4 class="black-50 f5">Type</h4>
  <p class="black-80 fw6"> {{snodeInfo.type }}</p>
  <h4 class="black-50 f5">Default Fee</h4>
  <p class="black-80 fw6">{{snodeInfo.feeDefault}} BLOCK</p>
</div>