<h1>XRouter Service Explorer</h1>
<div class="container">
  <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Service Nodes</h4>
        </div>
        <div class="card-body">
          {{ networkServiceCount }}
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">XCloud Services</h4>
        </div>
        <div class="card-body">
            {{ xCloudServices?.totalItems }}
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">SPV Wallets</h4>
        </div>
        <div class="card-body">
          {{ spvWallets?.totalItems }}
        </div>
      </div>
    </div>
</div>